$flags: ('fr', 'uk', 'it', 'ua', 'us');
$flag-icon-css-path: '../assets/flags';

.flag_background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
  
.flag {
    @extend .flag_background;
    position: relative;
    display: inline-block;
    width: (4 / 3) * 1em;
    line-height: 1em;
    &:before {
        content: '\00a0';
    }
}
  
@mixin flag-icon($country) {
    .flag_#{$country} {
        background-image: url(#{$flag-icon-css-path}/#{$country}.svg);
    }
}

@each $country in $flags {
    @include flag-icon($country);
}