@import '../../../styles/abstracts/variables';

.country-line {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    cursor: pointer;

    &:hover {
        background-color: $color-grey-bg;
    }

    .flag {
        order: 0;
        flex: 0 1 auto;
    }
    .name {
        order: 1;
        flex: 1 1 auto;
        padding-left: 10px;
    }
    .prefix {
        order: 2;
        flex: 0 1 auto;
    }
}