// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-grey-bg: #f4f4f5;
$color-grey-numbers: #707579;
$color-grey-text: #999;
$color-grey-border: #d9dce0;
$color-grey-dark: #666666;
$color-red: #eb3324;
$color-yellow: #fad84a;

// CUSTOM
$color-primary: #4ea4f6;
$color-primary-hover: #4998e2;
$color-primary-light: #83b9ff;
$color-primary-dark: #005ecb;
$color-secondary: #ff5252;
$color-secondary-light: #ff867f;
$color-secondary-dark: #c50e29;

// BREAKPOINTS
$bp-small: 34.375em; // 550px;
$bp-medium: 47.5em; // 760px;
$bp-desktop: 64em; // 1024px;
$bp-wide: 105em; // 1680px;

// FONTS
$font-demo: 'Karla';
$font-family-primary: 'Lato';
$font-family-secondary: 'Anton';
$default-font-size: 1.6rem;

//
$font-size-emoji: 26px;
$font-size-medium: 15px;
$font-size-medium-plus: 16px;

// FONT SIZES
$font-weight-small: 300;
$font-weight-medium: 400;

