.login_page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;

    h1 {
        margin-top: 45px;
        margin-bottom: 0;
        font-size: 32px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
        max-width: 245px;
        color: #787d80;
        line-height: 1.3;
        text-align: center;
    }

    .logo {
        background: url('../../../assets/images/logo.svg');
        background-repeat: no-repeat;
        height: 160px;
        width: 160px;
    }

    form {
        width: 360px;
        margin-top: 34px;
        display: flex;
        flex-direction: column;
    }
}