@import '../../../styles/abstracts/variables';

.login_page {
    margin-top: 108px;

    [class*=_form] {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        margin-top: 45px;
        margin-bottom: 0;
        font-size: 32px;
        font-weight: 400;
    }
    p {
        margin-top: 14px;
        font-size: 16px;
        max-width: 245px;
        color: #787d80;
        line-height: 21px;
        letter-spacing: 0.1px;
        text-align: center;
    }
    .logo {
        background: url('../../../assets/images/logo.svg');
        background-repeat: no-repeat;
        height: 160px;
        width: 160px;
    }
    form {
        width: 360px;
        margin-top: 34px;
        display: flex;
        flex-direction: column;

        phone-number-field {
            margin-top: 11px;
        }

        .checkbox {
            margin-top: 10px;
            padding: 0 19px;
            label {
                margin-left: 38px;
                font-weight: 300;
                font-size: 16px;
                letter-spacing: .1px;
                line-height: 28px;
            }
        }

        [type=submit] {
            margin-top: 41px;
            cursor: pointer;
            height: 54px;
            background: $color-primary;
            border-radius: 10px;
            text-transform: uppercase;
            border: none;
            color: #fff;
            font-size: 15px;
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: $color-primary-hover;
            }
        }
    }
}