.signin_page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;

    h1 {
        margin-top: 45px;
        margin-bottom: 0;
        font-size: 32px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
        max-width: 230px;
        color: #787d80;
        line-height: 1.3;
        text-align: center;
    }

    .logo {
        background: url('../../../assets/images/logo.svg');
        background-repeat: no-repeat;
        height: 160px;
        width: 160px;
    }

    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        > input {
            border: 1px solid #ccc;
            margin-top: 10px;
            border-radius: 10px;
            width: 327px;
            padding: 18px;
            font-size: 15px;

            &::placeholder {
                color: #a6afb7;
                font-weight: 300;
                letter-spacing: 0.4px;
            }

            &:focus {
                outline: 0;
                border-color: #4ea3f6;
                border-width: 2px;
            }
        }

        > input[type=submit] {
            width: 100%;
            font-size: 16px;
            background: #4ea3f6;
            color: #fff;
            text-transform: uppercase;
            border: none;
        }



        .control {
            margin: 25px;
            label {
                font-size: 16px;
                margin: 20px;
            }
        }
        
    }
}