html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-right: auto;
  margin-left:  auto;;

  max-width: 960px;

  padding-right: 10px;
  padding-left:  10px;
}
