@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

.heading {
  font-family: $font-family-secondary;
  margin: 8px 0;
  &--lg {
    font-size: 2.5rem;
  }
  &--md {
    font-size: 2rem;
  }
}

.type {
  color: #787d80;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  font-weight: 300;
  font-weight: 300;
  letter-spacing: 0.01px;
  word-spacing: 0.01px;
  line-height: 1.34em;
}

.sub-type {
  font-weight: 300;
}